@font-face {
  font-family: CirceRounded;
  font-display: swap;
  src: url('../fonts/CirceRounded-Alt-Bold.woff2') format('woff2'),
    url('../fonts/CirceRounded-Alt-Bold.woff') format('woff');
  font-weight: 750;
  font-style: normal;
}
@font-face {
  font-family: CirceRounded;
  font-display: swap;
  src: url('../fonts/CirceRounded-Alt-ExtraBold.woff2') format('woff2'),
    url('../fonts/CirceRounded-Alt-ExtraBold.woff') format('woff');
  font-weight: 400;
  font-style: 850;
}
@font-face {
  font-family: CirceRounded;
  font-display: swap;
  src: url('../fonts/CirceRounded-Bold.woff2') format('woff2'),
    url('../fonts/CirceRounded-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: CirceRounded;
  font-display: swap;
  src: url('../fonts/CirceRounded-ExtraBold.woff2') format('woff2'),
    url('../fonts/CirceRounded-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: CirceRounded;
  font-display: swap;
  src: url('../fonts/CirceRounded-ExtraLight.woff2') format('woff2'),
    url('../fonts/CirceRounded-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: CirceRounded;
  font-display: swap;
  src: url('../fonts/CirceRounded-Light.woff2') format('woff2'),
    url('../fonts/CirceRounded-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: CirceRounded;
  font-display: swap;
  src: url('../fonts/CirceRounded-Regular.woff2') format('woff2'),
    url('../fonts/CirceRounded-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: CirceRounded;
  font-display: swap;
  src: url('../fonts/CirceRounded-Thin.woff2') format('woff2'),
    url('../fonts/CirceRounded-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
